@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-200: #e7f6ff;
  --primary-500: #008bc8;
  --primary-800: #016798;
  --courses-100: #bbddff;
  --courses-200: #cceeff;
  --text-primary-800: #015182;
  --text-grey-500: #666666;
  --text-grey-600: #888888;
  --text-black-400: #001122;
  --text-black-500: #000000;
  --text-black-600: #333333;
  --white: #ffffff;
  --bg-pink: #ee4691;
  --default-border: 1px solid red;
  --radius-lg: 8px;
  --btn-shadow: rgba(0, 0, 0, 0.15) 0px 0.706592px 0.706592px -0.625px,
    rgba(0, 0, 0, 0.145) 0px 1.80656px 1.80656px -1.25px,
    rgba(0, 0, 0, 0.137) 0px 3.62176px 3.62176px -1.875px,
    rgba(0, 0, 0, 0.125) 0px 6.8656px 6.8656px -2.5px,
    rgba(0, 0, 0, 0.106) 0px 13.6468px 13.6468px -3.125px,
    rgba(0, 0, 0, 0.05) 0px 30px 30px -3.75px;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-family: "inter", sans-serif;
}
.flex {
  display: flex;
  align-items: center;
}
.navbar {
  justify-content: space-between;
  border-bottom: 1px solid var(--text-grey-600);
  padding: 10px 20px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}
.navbar .logo {
  height: 90px;
  width: 90px;
  overflow: hidden;
}
.navbar .logo img {
  width: 100%;
  height: 100%;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  color: var(--text-grey-500);
  font-size: 18px;
  padding: 10px 16px;
  text-decoration: none;
}
.navbar ul li a:hover {
  color: var(--primary-800);
}
.navbar .nav-btn {
  padding: 16px 20px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: var(--white);
  background: var(--primary-500);
  border-radius: var(--radius-lg);
  box-shadow: var(--btn-shadow);
  transition: all 0.3s ease;
  cursor: pointer;
}

.navbar .nav-btn:hover {
  background: var(--bg-pink);
}

/* CSS for hero section */

.hero-div {
  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
}
.hero-img {
  height: 500px;
}
.hero-img img {
  width: 100%;
  height: 100%;
}

.hero-text {
  padding: 0 100px;
}
.hero-text .pre-text {
  padding: 2px 16px;
  column-gap: 20px;
  background-color: var(--primary-200);
  border-radius: var(--radius-lg);
}
.hero-text .pre-text strong {
  color: var(--primary-800);
}
.hero-text .pre-text span {
  font-size: 14px;
  color: var(--text-black-500);
}
.hero-text h1 {
  font-size: 40px;
  color: var(--primary-800);
}
.hero-text p {
  font-size: 24px;
  color: var(--text-grey-600);
}
.hero-btns {
  column-gap: 20px;
}

.hero-btns button,
section.join button,
.reasons-grid button,
.explore-card-text button,
.courses-card button {
  padding: 15px;
  font-size: 14px;
  border: none;
  border-radius: var(--radius-lg);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: var(--btn-shadow);
}
.hero-btns button:first-child,
section.join button {
  color: var(--white);
  background-color: var(--primary-800);
}
.hero-btns button:last-child {
  color: var(--text-black-600);
  background: var(--primary-200);
}
.hero-btns button:last-child:hover {
  background-color: var(--primary-800);
  color: var(--white);
}
.hero-btns button:first-child:hover,
section.join button:hover {
  background-color: var(--bg-pink);
}

.hero-sec .languages {
  column-gap: 50px;
  width: 85%;
  margin: 0 auto;
}
.hero-sec .languages div {
  height: 90px;
  width: auto;
  overflow: hidden;
}
.hero-sec .languages div img {
  height: 100%;
  transform: scale(0.75);
  width: 100%;
}

section h1.header,
.reasons-grid h1 {
  font-size: 50px;
  color: var(--primary-800);
}
section h1.header {
  line-height: 24px;
}
section p.header-text {
  font-size: 24px;
  color: var(--text-grey-600);
  width: 60%;
  margin: 0 auto;
  margin-bottom: 80px;
  text-align: center;
}
section.why-choose-us,
section.available-courses {
  background-color: var(--primary-200);
  padding: 30px 100px;
  text-align: center;
  margin-top: 30px;
}
section.why-choose-us .reasons-grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  column-gap: 20px;
  text-align: left;
  align-items: center;
}
section.why-choose-us .reasons-grid .img {
  overflow: hidden;
  height: 324px;
  border-radius: var(--radius-lg);
}
section.why-choose-us .reasons-grid .img img,
section.explore .explore-card .explore-card-img img {
  width: 100%;
  height: 100%;
}
section.why-choose-us .reasons-grid h1 {
  font-size: 50px;
}
section.why-choose-us .reasons-grid p {
  font-size: 24px;
  color: var(--text-grey-600);
}
section.why-choose-us .reasons-grid button,
.explore-card-text button,
.courses-card button {
  background-color: var(--bg-pink);
  color: var(--white);
}
section.why-choose-us .reasons-grid button:hover,
.explore-card-text button:hover,
.courses-card button:hover {
  opacity: 0.75;
}
.grid-cards {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

/* Explore our programs css */
section.explore h1 {
  text-align: center;
}
.explore-cards {
  display: flex;
  flex-direction: column;
  row-gap: 70px;
}
.explore-card {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 950px;
  margin: 0 auto;
  column-gap: 40px;
  justify-content: center;
  align-items: center;
}
.explore-card-img {
  height: 240px;
  overflow: hidden;
  border-radius: var(--radius-lg);
}
.explore-card-text h1 {
  color: var(--primary-800);
  font-size: 50px;
  text-align: left !important;
}
.explore-card-text p {
  color: var(--text-grey-600);
  font-size: 24px;
}

/* Available courses css */
.courses-grid {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  gap: 30px 16px;
}
.courses-grid .courses-card {
  height: 300px;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: var(--white);
  border-radius: 15px;
  padding: 20px 30px;
  box-shadow: var(--btn-shadow);
  transition: transform 0.3s;
}
.courses-card h3 {
  font-size: 22px;
  color: var(--text-black-400);
  line-height: 24px;
}
.courses-card .location,
.courses-card .duration {
  display: flex;
  align-items: center;
}
.courses-card .location {
  column-gap: 12px;
}
.courses-card .duration {
  column-gap: 16px;
}
.courses-card .location-icon {
  width: 30px;
  overflow: hidden;
}
.courses-card .duration {
  margin-bottom: 15px;
}
.courses-card span {
  padding: 8px 24px;
  font-size: 16px;
  font-weight: bold;
  color: var(--text-black-500);
}

.courses-card .duration span:first-child,
.courses-card .location .on-site {
  background-color: var(--courses-100);
}

.courses-card .duration span:nth-child(2),
.courses-card .location .online {
  background-color: var(--courses-200);
}

.courses-card:hover {
  transform: scale(1.02);
}

/* Testimonial section styles */

section.testimonial,
section.faq {
  padding: 30px 150px;
  text-align: center;
}
.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  column-gap: 20px;
  text-align: left;
  align-items: center;
}
.testimonial-card {
  box-shadow: 0 0.7961918735236395px 2.3885756205709185px -0.625px #0000000d,
    0 2.414506143104518px 7.2435184293135535px -1.25px #0000000d,
    0 6.382653521484461px 19.147960564453385px -1.875px #0000000d,
    0 20px 60px -2.5px #0000000d;
  border-radius: var(--radius-lg);
  padding: 30px 30px 100px 30px;
}
.testimonial-card .profile .img {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  overflow: hidden;
}

.testimonial-card .profile .img img {
  width: 100%;
  height: 100%;
}
.testimonial-card .profile {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.testimonial-card .profile span {
  font-size: 20px;
  color: var(--text-black-400);
  font-weight: 600;
}
.testimonial-card p {
  color: var(--text-grey-500);
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
  margin-top: 30px;
}

/* FAQ section styling */

section.faq .questions {
  padding: 16px 32px;
  background-color: var(--primary-200);
  border-radius: var(--radius-lg);
  text-align: left;
  display: flex;
  flex-direction: column;
}
.question {
  cursor: pointer;
}
section.faq .question span {
  float: left;
  margin-right: 20px;
}
.hide {
  margin-left: 30px;
  display: none;
  color: var(--text-grey-600);
}
.question-header {
  color: var(--text-black-400);
}
.question:hover .hide {
  display: block;
}
section.join {
  text-align: center;
  padding: 100px;
  background: var(--primary-200);
}
/* footer */
footer {
  padding: 40px 50px;
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
footer h3 {
  color: #e6e6e6;
}
footer a {
  color: #ffffff99;
  font-weight: 500;
  margin-left: 10px;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
